body{
    background-color:black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    padding: 0px 50px;
}

nav { 
    
    background-color: rgb(110, 11, 11);
    border-radius: 10px 10px 10px 10px;
    color: white;
    box-shadow: 10px 10px 10px rgb(211, 199, 199);
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;


}